body{
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#barra{
    background-color: rgb(255,232,26);
    margin: 15 15 15 15;
    padding: 3%;
}

#titulo-principal{
    color: rgb(163, 148, 15);
    font-family: 'Jomhuria', sans-serif;
    text-align: center;
}

#container{
    text-align: center;
}

#container > div{
    display: inline-block;
}

.apre-um{
    background-color: rgb(217,217,217);
    text-align: center;
    display: inline-block;
    vertical-align: top; 
    width: 20%; 
    height: 280px;    
    margin: 5%; 
    text-align: left; 
    border: 1px solid black;
    border-radius: 30px;    
}

.button-saibamais{
    color: black;
    background-color: yellow;
    padding: 5% 8% 5% 8%;
    border-radius: 15px;
}

.button-saibamais:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.texto-index{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

#form-login{
    padding: 50px;
/*    background-color: black;
    opacity: 0.9;   */
}

.botao-entrar{
    padding: 5px 35px;
    /* margin-left: 35%; */
    border-radius: 10px;
    background-color: white;
}

.botao-entrar:hover{
    background-color: rgb(170, 171, 172);
}

.text{
	padding: 8px 30px;
}

#preencher-campos{
	background-color: red;
	color: white;
	border-radius: 10px;
}